@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<button class="btn btn-primary" @onclick="LogoutAsync">Log out</button>

@code {

    private async Task LogoutAsync()
    {
        await ((Auth0AuthenticationStateProvider)AuthenticationStateProvider).LogoutAsync();
    }

}