@page "/login"
@using ClimateSenseWeb.Dto
@inject NavigationManager Navigation
<PageTitle>ClimateSense Login</PageTitle>
<h3>Login</h3>

<EditForm method="post" Model="_user" OnSubmit="Callback">
    <div>
        <label>
            Login:
            <InputText @bind-Value="_user.Username"/>
        </label>
    </div>
    <div>
        <label>
            Password:
            <InputText @bind-Value="_user.Password"/>
        </label>
    </div>
    <button type="submit">Login</button>
</EditForm>


@code {
    private User? _user { get; set; } = new();


    private void Callback()
    {
        Navigation.NavigateTo("Account/Login");
    }

}